// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khmer:wght@500&display=swap');
// $body-font-family: 'Inter', sans-serif !default;

* {
  padding: 0;
  margin: 0;
  /* font-family: "Inter", sans-serif !important;
  font-family: 'Noto Serif Khmer', serif !important; */
  // font-family: "Inter", 'Noto Serif Khmer', sans-serif, serif !important;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Serif Khmer',
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #eeeeee !important;
}

.font-inter {
  /* font-family: "Inter", sans-serif !important; */
  font-family: 'Inter', 'Noto Serif Khmer', sans-serif, serif !important;
}

.placeholer-capitalize input::placeholder {
  text-transform: capitalize;
}

/* Add dotted outline on disabled Vuetify inputs */
.v-input--disabled .v-field__outline__start {
	border-style: dotted none dotted dotted !important;
  border-width: 2px;
  opacity: 1;
}
.v-input--disabled .v-field__outline__notch::after {
	border-style: none none dotted none !important;
	border-width: 2px;
  opacity: 1;
}
.v-input--disabled .v-field__outline__notch::before {
	border-style: dotted none none none !important;
	border-width: 2px;
  opacity: 1;
}
.v-input--disabled .v-field__outline__end {
	border-style: dotted dotted dotted none !important;
  border-width: 2px;
  opacity: 1;
}
.v-field--disabled {
  opacity: 1;
}
