// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khmer:wght@500&display=swap');
// $body-font-family: 'Inter', sans-serif !default;

* {
  padding: 0;
  margin: 0;
  /* font-family: "Inter", sans-serif !important;
  font-family: 'Noto Serif Khmer', serif !important; */
  // font-family: "Inter", 'Noto Serif Khmer', sans-serif, serif !important;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  // background: #bdbdbd !important;
  // background-color: rgb(var(--v-theme-surface)) !important;
  background-color: #eeeeee !important;
}

.font-inter {
  /* font-family: "Inter", sans-serif !important; */
  font-family: 'Inter', 'Noto Serif Khmer', sans-serif, serif !important;
}

.active {
  background: #f25657;
}

#onesignal-bell-launcher {
  display: none;
}

.d-zoom {
  touch-action: pan-y !important;
}

.placeholer-capitalize input::placeholder {
  text-transform: capitalize;
}
